<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientesService" />
                <binding name="BasicHttpBinding_IInsumosService" />
                <binding name="BasicHttpBinding_IProductosService" />
                <binding name="BasicHttpBinding_IPedidosClientesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/ClientesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientesService"
                contract="ClientesService.IClientesService" name="BasicHttpBinding_IClientesService" />
            <endpoint address="http://localhost:1234/InsumosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsumosService"
                contract="InsumosService.IInsumosService" name="BasicHttpBinding_IInsumosService" />
            <endpoint address="http://localhost:1234/ProductosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosService"
                contract="ProductosService.IProductosService" name="BasicHttpBinding_IProductosService" />
            <endpoint address="http://localhost:1234/PedidosClientesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidosClientesService"
                contract="PedidosClientesService.IPedidosClientesService"
                name="BasicHttpBinding_IPedidosClientesService" />
        </client>
    </system.serviceModel>
</configuration>