<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInsumosService" />
                <binding name="BasicHttpBinding_IProductosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6666/InsumosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsumosService"
                contract="InsumosService.IInsumosService" name="BasicHttpBinding_IInsumosService" />
            <endpoint address="http://localhost:6666/ProductosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosService"
                contract="ProductosService.IProductosService" name="BasicHttpBinding_IProductosService" />
        </client>
    </system.serviceModel>
</configuration>